<h1> this is the about page </h1>

<p>I am an electrical Engineer from Universitat Politecnica de Catalunya (Barcelona) based in New Orleans, Louisiana. I started using Ruby on Rails in 2012, when a friend of mine and I, decided to launch a crowdfunding portal. Since then, I have worked on multiple Ruby on Rails applications, ranging from freelancing local Business applications, to complex software architecture. </p>

<p>I enjoyed reading Sandy Metz books about “Practical Object Oriented Design In Ruby”, and I consider myself a big fan of Uncle Bob and his principles. </p>

<p>My road to happiness started by organizing my code in small objects of different types, and to use Rspec Uni test to cover most of my code. I like to write clean and self explanatory code, and to Refactor when new features come in. </p>

<p>I am very Agile and have quick standing meetings every day. True believer  grooming is the best way for making things happen on time.</p>

<p>My favorite hobby is to travel around the world. I love to chase new experiences and explore different mind paradigms. Similarly, I enjoy cooking, eating, and exploring restaurants wherever I am. My favorite snack is figs, in any kind of format! </p>
