<h1> this is the about page </h1>

<p>I am an electrical Engineer from Universitat Politecnica de Catalunya based in New Orleans, Louisiana. I started using Ruby on Rails in 2012, me and a friend of mine decided to launch a crowdfunding portal. Since then, I have worked on multiple Ruby on Rails applications, ranging from freelancing local Business applications, designing, and developing a production application for Tenbo Air. Most recently I have been working as a software engineer at Search Influence. </p>

<p>Since I started coding ruby on rails, I read multiple times the Sandy Metz “Practical Object Oriented Design In Ruby” book, I watched most of the youtubes videos from rails conf, and I been following the news related to the ruby on rails community.</p>

<p>At my current workplace we use most of the Sandy Metz, and Uncle Bob principles for creating scalable applications. We structure our code in small objects of different types (form objects, service objects, presenters, and interactors) By breaking the code in that way, it allow us to cover most of our code with Uni Test using Rspec. Our test does not only ensure the code does the right behavior, but also helps us changing the code, and provides a great documentation to our team.</p>

<p>We also use Redis and sidekiq for managing job cues, and make API calls to other services. In addition to RoR I have knowledge on html, css, bootstrap, plain javascript or jquery. I love to deploy applications on VPS using capistrano, or directly to Heroku. I am familiar with unix systems, and used to work with different git workflows.</p>

<p>I also been professional working on Agile environment and I have experience using Scrum Methodology during the designing and developing process. I am familiar using Target Proces, Pivot tracker, or Trello Software while conducting Agile methodology with my teams.</p>
