<h1> Freelancer</h1>

<p>I like to freelancer from whiteboarding new concepts to long-term support, I enjoy working with startups and large enterprises to develop new applications.</p>

<p>I get a huge satisfaction when deliver amazing products, with  simple solutions through strategic thinking and planning. Quality code is my identity and bug free applications my goal!</p>

<p>If you or your company has any technological need, please don’t hesitate to contact me, and I am more than happy to schedule a touch base session.
To contact me please email me <b>jordi@poweredbyfigs.com</b></p>
